.movie-detail{
    display: flex;
    margin-top: 1rem;

    .content{
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

    h1 {
        margin: 1rem 0rem;
    }

    p {
        margin: 1rem 0rem;
    }

    .header{
        display: flex;
        justify-content: space-between;
        
        .score{
            display: inline-flex;
            align-items: center;
            width: 50%;
            justify-content: space-evenly;
        }
    }
}